* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black
}

main {
    width: 1000px;
    height: 100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 200px;
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    background-color: lightgray;
}

header h1 {
    color: darkred;
    font-size: 40px;
    padding-top: 20px;
    font-style: bold;
    font-family: "Agency FB";
    text-align: center;
}

.sec-one {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: lightsalmon;
    /*border: 1px solid white;*/
}

.sec-two {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    /*border: 1px solid white;*/
    background-color: aquamarine;
}

#foodBtn {
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    outline: none;
}

#foodBtn:active{
  background:lightcoral;
  color:white;
}

#grass {
    font-family: "Agency FB";
    font-size: 25px;
    color: darkred;
}


.foodHead {
   font-family: "Agency FB";
   margin: 0;
   padding: 0;
   padding-top: 2.5%;
   text-align: center;
   font-size: 40px;
   width: 100%;
   
}

a {
	color: darkred;
	text-decoration: none;
}

a:hover {
	color: darkred;
	text-decoration: underline;
}